h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;

}

h2 {
    font-size: 30px;
}

body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;

   
}

.development {
    color: goldenrod;
}

.half-width {

    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    background-color: white;
    padding: 2px;
}

.half-width img {

    width: 100%;
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

section {
    height: 500px;
    padding-bottom: 100px;
}

.button {

    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 10px 20px;
    border-radius: 5px;
    color:wheat;
    font-weight: bolder;
}


.dream-area {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.shado {

    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
}

.experiences-area {

    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stock{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#Baby {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, green );
    border-image-slice: 1;
}

footer {
    text-align: center;
}